<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Home</title>
</head>
<link rel="stylesheet" href="./css/style.css">
<body>
  <h1>Blog Home welcome</h1>
  <% if (session && session.userId) { %>
    <a href="/profile">Your Profile</a> | <a href="/logout">Logout</a> | <a href="/new-post">New Post</a>
  <% } else { %>
    <a href="/signup">Sign Up</a> | <a href="/login">Login</a>
  <% } %>
  <hr>
  <% blogs.forEach(blog => { %>
    <div>
      <img src="<%= blog.thumbnail %>" alt="Thumbnail" style="width: 200px; height: auto;">
      <h2><%= blog.title %></h2>
      <p><%= blog.content %></p>
      <small>
        Posted by <%= blog.creator ? blog.creator.username : 'Unknown' %> 
        on <%= blog.createdAt.toLocaleString()   %>
      </small>
      
      
    </div>
    <hr>
  <% }) %>

<script type='text/javascript' src='//felllilyforegoing.com/a2/95/74/a29574217afde88590e11fd94dfd370c.js'></script>
</body>
</html>
